/* Footer.module.css */
.footer {
    background-color: #2c3e50;  /* Colore di sfondo scuro */
    color: #ecf0f1;  /* Colore del testo chiaro */
    padding: 20px 30px;
    font-family: 'Roboto', sans-serif;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .logo a {
    text-decoration: none;
    color: #ecf0f1;
    transition: color 0.3s;
  }
  
  .logo a:hover {
    color: #3498db;  /* Colore hover per il logo */
  }
  
  .navLinks {
    display: flex;
    gap: 20px;
  }
  
  .footerLink {
    color: #ecf0f1;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
  }
  
  .footerLink:hover {
    color: #3498db;  /* Colore hover per i link */
  }
  
  .location {
    display: flex;
    justify-content: center; /* O allinea come preferisci */
    align-items: center;
  }
  
  .locationLink {
    color: #ecf0f1;  /* Colore bianco per il link della posizione */
    text-decoration: none;
    margin: 0 10px; /* Spaziatura dai lati */
    font-size: 1rem; /* Dimensione del testo */
    transition: color 0.3s; /* Aggiungi transizione per il colore */
  }
  
  .locationLink:hover {
    color: #3498db;  /* Colore blu al passaggio del mouse */
    text-decoration: none; /* Nessuna sottolineatura */
  }
  
  .footerBottom {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9rem;
  }
  
  .footerBottom p {
    color: #ccc;  /* Testo copyright in grigio chiaro */
  }
  
  /* Media query per dispositivi mobili */
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .navLinks {
      margin-top: 20px;
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }
  }
  